In [32]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import joblib
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV
from sklearn import tree

In [33]:
data = pd.read_pickle('train_data.pkl')

In [34]:
data.columns

Index(['DriverNumber', 'Time_1', 'TyreLife_1', 'LapPercent_1', 'Compound_1',
       'LapTime_1', 'Team', 'Driver', 'Time_1_1', 'TyreLife_1_1',
       'LapPercent_1_1', 'Compound_1_1', 'LapTime_1_1', 'Time_2', 'TyreLife_2',
       'LapPercent_2', 'Compound_2', 'LapTime_2', 'Time_1_2', 'TyreLife_1_2',
       'LapPercent_1_2', 'Compound_1_2', 'LapTime_1_2', 'Position_curr',
       'LapPercent_curr', 'Position_prev', 'LapPercent_prev', 'RoundNumber',
       'Country', 'Location', 'OfficialEventName', 'EventDate', 'EventName',
       'EventFormat', 'Compound_1_', 'Compound_1_HARD', 'Compound_1_HYPERSOFT',
       'Compound_1_INTERMEDIATE', 'Compound_1_MEDIUM', 'Compound_1_SOFT',
       'Compound_1_SUPERSOFT', 'Compound_1_ULTRASOFT', 'Compound_1_WET',
       'Compound_1_1_', 'Compound_1_1_HARD', 'Compound_1_1_HYPERSOFT',
       'Compound_1_1_INTERMEDIATE', 'Compound_1_1_MEDIUM', 'Compound_1_1_SOFT',
       'Compound_1_1_SUPERSOFT', 'Compound_1_1_TEST',
       'Compound_1_1_TEST_UNKNOWN', 'Compound_1_1_ULTRASOFT',
       'Compound_1_1_WET', 'Compound_2_', 'Compound_2_HARD',
       'Compound_2_HYPERSOFT', 'Compound_2_INTERMEDIATE', 'Compound_2_MEDIUM',
       'Compound_2_SOFT', 'Compound_2_SUPERSOFT', 'Compound_2_TEST_UNKNOWN',
       'Compound_2_ULTRASOFT', 'Compound_2_WET', 'Compound_1_2_',
       'Compound_1_2_HARD', 'Compound_1_2_HYPERSOFT',
       'Compound_1_2_INTERMEDIATE', 'Compound_1_2_MEDIUM', 'Compound_1_2_SOFT',
       'Compound_1_2_SUPERSOFT', 'Compound_1_2_TEST',
       'Compound_1_2_TEST_UNKNOWN', 'Compound_1_2_ULTRASOFT',
       'Compound_1_2_WET'],
      dtype='object')

In [35]:
data = data.dropna()

In [36]:
data.columns

Index(['DriverNumber', 'Time_1', 'TyreLife_1', 'LapPercent_1', 'Compound_1',
       'LapTime_1', 'Team', 'Driver', 'Time_1_1', 'TyreLife_1_1',
       'LapPercent_1_1', 'Compound_1_1', 'LapTime_1_1', 'Time_2', 'TyreLife_2',
       'LapPercent_2', 'Compound_2', 'LapTime_2', 'Time_1_2', 'TyreLife_1_2',
       'LapPercent_1_2', 'Compound_1_2', 'LapTime_1_2', 'Position_curr',
       'LapPercent_curr', 'Position_prev', 'LapPercent_prev', 'RoundNumber',
       'Country', 'Location', 'OfficialEventName', 'EventDate', 'EventName',
       'EventFormat', 'Compound_1_', 'Compound_1_HARD', 'Compound_1_HYPERSOFT',
       'Compound_1_INTERMEDIATE', 'Compound_1_MEDIUM', 'Compound_1_SOFT',
       'Compound_1_SUPERSOFT', 'Compound_1_ULTRASOFT', 'Compound_1_WET',
       'Compound_1_1_', 'Compound_1_1_HARD', 'Compound_1_1_HYPERSOFT',
       'Compound_1_1_INTERMEDIATE', 'Compound_1_1_MEDIUM', 'Compound_1_1_SOFT',
       'Compound_1_1_SUPERSOFT', 'Compound_1_1_TEST',
       'Compound_1_1_TEST_UNKNOWN', 'Compound_1_1_ULTRASOFT',
       'Compound_1_1_WET', 'Compound_2_', 'Compound_2_HARD',
       'Compound_2_HYPERSOFT', 'Compound_2_INTERMEDIATE', 'Compound_2_MEDIUM',
       'Compound_2_SOFT', 'Compound_2_SUPERSOFT', 'Compound_2_TEST_UNKNOWN',
       'Compound_2_ULTRASOFT', 'Compound_2_WET', 'Compound_1_2_',
       'Compound_1_2_HARD', 'Compound_1_2_HYPERSOFT',
       'Compound_1_2_INTERMEDIATE', 'Compound_1_2_MEDIUM', 'Compound_1_2_SOFT',
       'Compound_1_2_SUPERSOFT', 'Compound_1_2_TEST',
       'Compound_1_2_TEST_UNKNOWN', 'Compound_1_2_ULTRASOFT',
       'Compound_1_2_WET'],
      dtype='object')

In [37]:
train_data = data[data['EventDate'] <= np.datetime64('2022-12-31')]
test_data = data[data['EventDate'] > np.datetime64('2022-12-31')]

In [38]:
X_cols =['TyreLife_1', 'LapPercent_1', 'TyreLife_1_1',
       'LapPercent_1_1', 'TyreLife_2',
       'LapPercent_2', 'TyreLife_1_2',
       'LapPercent_1_2', 'Position_prev', 'LapPercent_prev']

In [39]:
train_X = train_data[X_cols]
train_y = train_data['LapPercent_curr']

In [40]:
train_X.to_pickle('train_X.pkl')

In [41]:
train_X.columns.size

10

In [42]:
train_X

,TyreLife_1,LapPercent_1,TyreLife_1_1,LapPercent_1_1,TyreLife_2,LapPercent_2,TyreLife_1_2,LapPercent_1_2,Position_prev,LapPercent_prev
0,2.0,0.018878,4.0,0.022447,2.0,0.015754,4.0,0.025429,20.0,0.050897
1,2.0,0.028575,5.0,0.038875,12.0,0.022835,14.0,0.029816,13.0,0.035003
2,2.0,0.023754,4.0,0.025653,2.0,0.016311,4.0,0.022223,11.0,0.029976
3,3.0,0.024358,9.0,0.033418,2.0,0.028447,8.0,0.033323,18.0,0.042778
4,2.0,0.025467,7.0,0.028761,2.0,0.028558,11.0,0.038211,14.0,0.037775
...,...,...,...,...,...,...,...,...,...,...
1861,2.0,0.014521,5.0,0.014660,2.0,0.010476,5.0,0.011380,10.0,0.015879
1862,2.0,0.000000,5.0,0.006268,5.0,0.007223,2.0,0.008022,3.0,0.003973
1863,2.0,0.007330,5.0,0.015964,2.0,0.014669,8.0,0.027435,17.0,0.033995
1864,2.0,0.002539,5.0,0.014036,3.0,0.004005,8.0,0.013800,2.0,0.003909
1865,2.0,0.011797,7.0,0.013759,2.0,0.013553,6.0,0.029021,6.0,0.008049

In [59]:
model = tree.DecisionTreeRegressor()

In [60]:
params = {'max_depth':[2,3,4,5,6,7,8]}
best_model = GridSearchCV(model, param_grid = params).fit(train_X, train_y)

In [61]:
best_model.best_params_

{'max_depth': 2}

In [62]:
test_X = test_data[X_cols]
test_y = test_data['LapPercent_curr']

In [63]:
pred = best_model.predict(test_X)

In [64]:
np.unique(pred)

array([0.00830946, 0.01972438, 0.02970873])

In [49]:
results = pd.DataFrame({'pred': pred, 'actual': test_y})

In [50]:
results

          pred    actual
1874  0.005545  0.000000
1875  0.023181  0.027567
1876  0.002593  0.001538
1877  0.011175  0.007000
1878  0.005545  0.003255
...        ...       ...
2000  0.023181  0.058647
2001  0.029686  0.020070
2003  0.013011  0.014366
2004  0.023512  0.039327
2005  0.013011  0.011864

[121 rows x 2 columns]

In [51]:
results.describe()

             pred      actual
count  121.000000  121.000000
mean     0.017294    0.017587
std      0.013896    0.041279
min      0.002593    0.000000
25%      0.013011    0.007507
50%      0.018571    0.012574
75%      0.023181    0.019237
max      0.144024    0.455956

In [52]:
joblib.dump(best_model, 'model.pkl')

['model.pkl']