In [5]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import joblib
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.model_selection import GridSearchCV
from sklearn import tree

In [6]:
data = pd.read_pickle('train_data.pkl')

In [7]:
data

,DriverNumber,Team,Driver,LapTime_1,Sector1Time_1,Sector2Time_1,Sector3Time_1,TyreLife_1,SpeedI1_1,SpeedI2_1,...,PrevLapTimePercent3,PositionPrevTeam3,LapTimePercentPrevTeam3,PrevLapTimePercent4,PositionPrevTeam4,LapTimePercentPrevTeam4,PrevLapTimePercent5,PositionPrevTeam5,LapTimePercentPrevTeam5,LapTimePrevPercentTeamAverage
0,10,Toro Rosso,GAS,0 days 00:01:26.494000,0 days 00:00:28.639000,0 days 00:00:23.343000,0 days 00:00:34.512000,4.0,274.0,290.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,28,Toro Rosso,HAR,0 days 00:01:27.745000,0 days 00:00:28.951000,0 days 00:00:23.484000,0 days 00:00:35.310000,5.0,277.0,290.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,Force India,PER,0 days 00:01:26.767000,0 days 00:00:28.731000,0 days 00:00:23.505000,0 days 00:00:34.531000,6.0,279.0,292.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31,Force India,OCO,0 days 00:01:26.605000,0 days 00:00:28.672000,0 days 00:00:23.527000,0 days 00:00:34.406000,9.0,278.0,291.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14,McLaren,ALO,0 days 00:01:25.896000,0 days 00:00:28.485000,0 days 00:00:23.312000,0 days 00:00:34.099000,7.0,270.0,283.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2069,77,Alfa Romeo,BOT,0 days 00:01:41.032000,0 days 00:00:34.430000,0 days 00:00:38.090000,0 days 00:00:28.512000,9.0,252.0,201.0,...,0.023591,14.5,0.020437,0.017656,17.0,0.023947,0.008639,12.0,0.011674,0.137373
2070,4,McLaren,NOR,0 days 00:01:40.277000,0 days 00:00:34.105000,0 days 00:00:37.892000,0 days 00:00:28.280000,7.0,258.0,206.0,...,0.006974,6.5,0.008932,0.012457,10.5,0.013445,0.018200,17.5,0.018718,0.054512
2071,81,McLaren,PIA,0 days 00:01:39.154000,0 days 00:00:33.445000,0 days 00:00:37.459000,0 days 00:00:28.250000,8.0,256.0,210.0,...,0.010889,6.5,0.008932,0.014433,10.5,0.013445,0.019237,17.5,0.018718,0.054512
2072,44,Mercedes,HAM,NaT,NaT,0 days 00:00:40.339000,NaT,1.0,215.0,202.0,...,0.007555,8.5,0.011069,0.005044,7.0,0.006719,0.011887,9.5,0.011294,0.053945
2073,63,Mercedes,RUS,0 days 00:01:38.795000,0 days 00:00:33.643000,0 days 00:00:36.976000,0 days 00:00:28.176000,7.0,256.0,211.0,...,0.014584,8.5,0.011069,0.008393,7.0,0.006719,0.010701,9.5,0.011294,0.053945

In [8]:
data.columns

Index(['DriverNumber', 'Team', 'Driver', 'LapTime_1', 'Sector1Time_1',
       'Sector2Time_1', 'Sector3Time_1', 'TyreLife_1', 'SpeedI1_1',
       'SpeedI2_1', 'SpeedFL_1', 'LapTimePercent_1', 'Sector1TimePercent_1',
       'Sector2TimePercent_1', 'Sector3TimePercent_1', 'TyreLifePercent_1',
       'SpeedI1Percent_1', 'SpeedI2Percent_1', 'SpeedFLPercent_1',
       'LapTime_1_1', 'Sector1Time_1_1', 'Sector2Time_1_1', 'Sector3Time_1_1',
       'TyreLife_1_1', 'SpeedI1_1_1', 'SpeedI2_1_1', 'SpeedFL_1_1',
       'LapTimePercent_1_1', 'Sector1TimePercent_1_1',
       'Sector2TimePercent_1_1', 'Sector3TimePercent_1_1',
       'TyreLifePercent_1_1', 'SpeedI1Percent_1_1', 'SpeedI2Percent_1_1',
       'SpeedFLPercent_1_1', 'LapTime_2', 'Sector1Time_2', 'Sector2Time_2',
       'Sector3Time_2', 'TyreLife_2', 'SpeedI1_2', 'SpeedI2_2', 'SpeedFL_2',
       'LapTimePercent_2', 'Sector1TimePercent_2', 'Sector2TimePercent_2',
       'Sector3TimePercent_2', 'TyreLifePercent_2', 'SpeedI1Percent_2',
       'SpeedI2Percent_2', 'SpeedFLPercent_2', 'LapTime_1_2',
       'Sector1Time_1_2', 'Sector2Time_1_2', 'Sector3Time_1_2', 'TyreLife_1_2',
       'SpeedI1_1_2', 'SpeedI2_1_2', 'SpeedFL_1_2', 'LapTimePercent_1_2',
       'Sector1TimePercent_1_2', 'Sector2TimePercent_1_2',
       'Sector3TimePercent_1_2', 'TyreLifePercent_1_2', 'SpeedI1Percent_1_2',
       'SpeedI2Percent_1_2', 'SpeedFLPercent_1_2', 'Position',
       'LapTimePercent', 'RoundNumber', 'Country', 'Location',
       'OfficialEventName', 'EventDate', 'EventName', 'EventFormat',
       'PrevLapTimePercent1', 'PositionPrevTeam1', 'LapTimePercentPrevTeam1',
       'PrevLapTimePercent2', 'PositionPrevTeam2', 'LapTimePercentPrevTeam2',
       'PrevLapTimePercent3', 'PositionPrevTeam3', 'LapTimePercentPrevTeam3',
       'PrevLapTimePercent4', 'PositionPrevTeam4', 'LapTimePercentPrevTeam4',
       'PrevLapTimePercent5', 'PositionPrevTeam5', 'LapTimePercentPrevTeam5',
       'LapTimePrevPercentTeamAverage'],
      dtype='object')

In [30]:
full_train = True

In [31]:
if not full_train:
    train_data = data[data['EventDate'] <= np.datetime64('2022-06-30')]
    test_data = data[data['EventDate'] > np.datetime64('2022-06-30')]
else:
    train_data = data
    test_data = pd.DataFrame()

In [32]:
# train_data = train_data.dropna()
# train_data = train_data.fillna(train_data.mean())
# test_data = test_data.fillna(test_data.mean())

In [33]:
train_data.columns

Index(['DriverNumber', 'Team', 'Driver', 'LapTime_1', 'Sector1Time_1',
       'Sector2Time_1', 'Sector3Time_1', 'TyreLife_1', 'SpeedI1_1',
       'SpeedI2_1', 'SpeedFL_1', 'LapTimePercent_1', 'Sector1TimePercent_1',
       'Sector2TimePercent_1', 'Sector3TimePercent_1', 'TyreLifePercent_1',
       'SpeedI1Percent_1', 'SpeedI2Percent_1', 'SpeedFLPercent_1',
       'LapTime_1_1', 'Sector1Time_1_1', 'Sector2Time_1_1', 'Sector3Time_1_1',
       'TyreLife_1_1', 'SpeedI1_1_1', 'SpeedI2_1_1', 'SpeedFL_1_1',
       'LapTimePercent_1_1', 'Sector1TimePercent_1_1',
       'Sector2TimePercent_1_1', 'Sector3TimePercent_1_1',
       'TyreLifePercent_1_1', 'SpeedI1Percent_1_1', 'SpeedI2Percent_1_1',
       'SpeedFLPercent_1_1', 'LapTime_2', 'Sector1Time_2', 'Sector2Time_2',
       'Sector3Time_2', 'TyreLife_2', 'SpeedI1_2', 'SpeedI2_2', 'SpeedFL_2',
       'LapTimePercent_2', 'Sector1TimePercent_2', 'Sector2TimePercent_2',
       'Sector3TimePercent_2', 'TyreLifePercent_2', 'SpeedI1Percent_2',
       'SpeedI2Percent_2', 'SpeedFLPercent_2', 'LapTime_1_2',
       'Sector1Time_1_2', 'Sector2Time_1_2', 'Sector3Time_1_2', 'TyreLife_1_2',
       'SpeedI1_1_2', 'SpeedI2_1_2', 'SpeedFL_1_2', 'LapTimePercent_1_2',
       'Sector1TimePercent_1_2', 'Sector2TimePercent_1_2',
       'Sector3TimePercent_1_2', 'TyreLifePercent_1_2', 'SpeedI1Percent_1_2',
       'SpeedI2Percent_1_2', 'SpeedFLPercent_1_2', 'Position',
       'LapTimePercent', 'RoundNumber', 'Country', 'Location',
       'OfficialEventName', 'EventDate', 'EventName', 'EventFormat',
       'PrevLapTimePercent1', 'PositionPrevTeam1', 'LapTimePercentPrevTeam1',
       'PrevLapTimePercent2', 'PositionPrevTeam2', 'LapTimePercentPrevTeam2',
       'PrevLapTimePercent3', 'PositionPrevTeam3', 'LapTimePercentPrevTeam3',
       'PrevLapTimePercent4', 'PositionPrevTeam4', 'LapTimePercentPrevTeam4',
       'PrevLapTimePercent5', 'PositionPrevTeam5', 'LapTimePercentPrevTeam5',
       'LapTimePrevPercentTeamAverage'],
      dtype='object')

In [34]:
X_cols = ['LapTimePercent_1', 'LapTimePercent_2',
       'PrevLapTimePercent1', 
       'PrevLapTimePercent2', 
       'PrevLapTimePercent3', 
       'LapTimePrevPercentTeamAverage']

In [35]:
def fill_nan_with_group_mean(df, group_col):
    numeric_columns = df.select_dtypes(include=np.number).columns
    df_filled = df.copy()
    
    for col in numeric_columns:
        grouped = df.groupby(group_col)
        df_filled[col] = grouped[col].transform(lambda x: x.fillna(x.mean()))
    
    return df_filled

train_data = fill_nan_with_group_mean(train_data, 'OfficialEventName').dropna()
test_data = fill_nan_with_group_mean(test_data, 'OfficialEventName').dropna()

In [36]:
for col in X_cols + ['LapTimePercent']:
    percentiles = train_data[col].quantile([0, 0.95]).values
    train_data.loc[train_data[col] >= percentiles[1], col] = percentiles[1]
    if not full_train:
        test_data.loc[test_data[col] >= percentiles[1], col] = percentiles[1]

In [37]:
train_X = train_data[X_cols]
train_y = train_data['LapTimePercent']

if not full_train:
    test_X = test_data[X_cols]
    test_y = test_data['LapTimePercent']

In [38]:
train_X.describe()

,LapTimePercent_1,LapTimePercent_2,PrevLapTimePercent1,PrevLapTimePercent2,PrevLapTimePercent3,LapTimePrevPercentTeamAverage
count,1954.000000,1954.000000,1954.000000,1954.000000,1954.000000,1954.000000
mean,0.018995,0.016222,0.018864,0.018827,0.018693,0.095876
std,0.012219,0.010162,0.011916,0.011840,0.011711,0.051050
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.003976
25%,0.009824,0.008482,0.009677,0.009823,0.009808,0.055291
50%,0.017908,0.015518,0.018186,0.018126,0.018054,0.097617
75%,0.026230,0.022967,0.026881,0.026781,0.026562,0.133329
max,0.046369,0.037396,0.041978,0.042015,0.041584,0.188233

In [39]:
train_y.describe()

count    1954.000000
mean        0.019219
std         0.012442
min         0.000000
25%         0.009656
50%         0.018318
75%         0.027318
max         0.044938
Name: LapTimePercent, dtype: float64

In [40]:
train_X.to_pickle('train_X.pkl')

In [41]:
base_model = linear_model.Lasso()
params = {'alpha': [0.00000001, 0.0000001, 0.000001, 0.00001, 0.0001, 0.001, 0.01, 0.1, 1], 'max_iter':[100000]}
# model = linear_model.LinearRegression()

# base_model = tree.DecisionTreeRegressor()
# params = {'max_depth': [2, 3, 4, 5, 6, 7, 8, 9, 10]}

model = GridSearchCV(base_model, param_grid = params)
model.fit(train_X, train_y)

GridSearchCV(estimator=Lasso(),
             param_grid={'alpha': [1e-08, 1e-07, 1e-06, 1e-05, 0.0001, 0.001,
                                   0.01, 0.1, 1],
                         'max_iter': [100000]})

In [42]:
model.best_params_

{'alpha': 1e-08, 'max_iter': 100000}

In [43]:
pd.concat([pd.DataFrame(train_X.columns),pd.DataFrame(np.transpose(model.best_estimator_.coef_))], axis = 1)

                               0         0
0               LapTimePercent_1  0.157860
1               LapTimePercent_2  0.305734
2            PrevLapTimePercent1  0.161958
3            PrevLapTimePercent2  0.067242
4            PrevLapTimePercent3  0.109610
5  LapTimePrevPercentTeamAverage  0.046008

In [17]:
test_X = test_data[X_cols]
test_y = test_data['LapTimePercent']

In [18]:
pred = model.predict(test_X)

In [19]:
results = pd.DataFrame({'Pred': pred, 'Actual': test_y, 'Actual_Position': test_data['Position'], 'Race': test_data['OfficialEventName'], 'Driver': test_data['DriverNumber']})

In [20]:
results

,Pred,Actual,Actual_Position,Race,Driver
1675,0.009902,0.000000,2.0,FORMULA 1 LENOVO BRITISH GRAND PRIX 2022,1
1676,0.015253,0.014042,4.0,FORMULA 1 LENOVO BRITISH GRAND PRIX 2022,11
1677,0.028759,0.025734,11.0,FORMULA 1 LENOVO BRITISH GRAND PRIX 2022,10
1678,0.026665,0.027883,13.0,FORMULA 1 LENOVO BRITISH GRAND PRIX 2022,22
1679,0.017670,0.024907,7.0,FORMULA 1 LENOVO BRITISH GRAND PRIX 2022,14
...,...,...,...,...,...
2069,0.021963,0.005548,7.0,FORMULA 1 QATAR AIRWAYS HUNGARIAN GRAND PRIX 2023,77
2070,0.007134,0.001110,3.0,FORMULA 1 QATAR AIRWAYS HUNGARIAN GRAND PRIX 2023,4
2071,0.012820,0.003864,4.0,FORMULA 1 QATAR AIRWAYS HUNGARIAN GRAND PRIX 2023,81
2072,0.016655,0.000000,1.0,FORMULA 1 QATAR AIRWAYS HUNGARIAN GRAND PRIX 2023,44
2073,0.013290,0.031563,18.0,FORMULA 1 QATAR AIRWAYS HUNGARIAN GRAND PRIX 2023,63

In [21]:
results['Pred_Position'] = results.groupby('Race')['Pred'].rank(method = 'first')

In [22]:
results[['Pred_Position', 'Actual_Position']].describe()

       Pred_Position  Actual_Position
count     399.000000       399.000000
mean       10.476190        10.493734
std         5.761055         5.779389
min         1.000000         1.000000
25%         5.500000         5.500000
50%        10.000000        10.000000
75%        15.000000        15.500000
max        20.000000        20.000000

In [23]:
results[['Pred_Position', 'Actual_Position']]

      Pred_Position  Actual_Position
1675            3.0              2.0
1676            5.0              4.0
1677           16.0             11.0
1678           15.0             13.0
1679            7.0              7.0
...             ...              ...
2069           14.0              7.0
2070            1.0              3.0
2071            5.0              4.0
2072           10.0              1.0
2073            7.0             18.0

[399 rows x 2 columns]

In [24]:
mean_squared_error(results['Pred_Position'], results['Actual_Position'])

18.463659147869674

In [25]:
mean_absolute_error(results['Pred_Position'], results['Actual_Position'])

3.1604010025062657

In [26]:
pred2 = model.predict(train_X)

In [27]:
results2 = pd.DataFrame({'Pred': pred2, 'Actual': train_y, 'Actual_Position': train_data['Position'], 'Race': train_data['OfficialEventName'], 'Driver': train_data['DriverNumber']})

In [28]:
results2['Pred_Position'] = results2.groupby('Race')['Pred'].rank(method = 'first')

In [29]:
results2[['Pred_Position', 'Actual_Position']].describe()

       Pred_Position  Actual_Position
count    1555.000000      1555.000000
mean       10.473312        10.470740
std         5.757746         5.751443
min         1.000000         1.000000
25%         5.000000         5.500000
50%        10.000000        10.000000
75%        15.000000        15.000000
max        20.000000        20.000000

In [30]:
results2[['Pred_Position', 'Actual_Position']]

      Pred_Position  Actual_Position
100            16.0             10.0
101            15.0             16.0
102            10.0              9.0
103            12.0              6.0
104            11.0              7.0
...             ...              ...
1670           14.0             11.0
1671            9.0              9.0
1672            8.0             14.0
1673            7.0              4.0
1674            5.0              8.0

[1555 rows x 2 columns]

In [31]:
mean_squared_error(results2['Pred_Position'], results2['Actual_Position'])

13.24662379421222

In [32]:
mean_absolute_error(results2['Pred_Position'], results2['Actual_Position'])

2.5491961414791

In [44]:
joblib.dump(model, 'model.pkl')

['model.pkl']